
<nav class="navbar navbar-expand-lg navbar-dark bg-success mb-4">
    <div class="container-fluid">
      <a class="navbar-brand" routerLink="/candidat/dashboard">Espace Candidat</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#candidatNavbar">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="candidatNavbar">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link" routerLink="/layout/dashboard" routerLinkActive="active">Tableau de bord</a>
          </li>
          <li class="nav-item">
            <a class="btn btn-light btn-sm me-2" class="nav-link" routerLink="/layout/profil" routerLinkActive="active">Mon profil</a>
          </li>
   <!--      <li class="nav-item">
            <a class="nav-link" routerLink="/candidat/verification" routerLinkActive="active">Vérifier un parrainage</a>
          </li> --> 
        </ul>
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" routerLink="/candidat">Déconnexion</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

